<div class="iframe_center">

  <iframe
    width="640"
    height="360"
    src="https://www.shadertoy.com/embed/{{id}}?gui=true&t=10&paused=true&muted=false"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen>
  </iframe>

  <p class="iframecomment">{{ comment }}</p>
  
</div>
